.custom-post-display {
    margin: 0 auto;
    padding: 20px;
    max-width: 1200px;
}

.cpd-posts-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    --columns: 4; 
}

.cpd-read-more {
    background-image: linear-gradient(to right, #f2b705, #a60d1a, #035aa6);
    border: none;
	border-radius: 5px;
    color: white;
	display: inline-block;
	font-size: 16px;
	margin-top: 10px;
    padding: 5px 12px;
	text-decoration: none;
    transition: background-image 0.3s ease;
}

.cpd-read-more:hover {
    background-image: linear-gradient(to left, #f2b705, #a60d1a, #035aa6);
}

.cpd-load-more-container {
    text-align: center;
    margin-top: 20px;
}

.cpd-show-category,
.cpd-show-categories { text-align: center; }

.cpd-show-more {
    background-color: #0073aa;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.cpd-show-more:hover {
    background-color: #005177;
}

.cpd-post-item {
    flex: 1 1 calc(100% / var(--columns) - 20px);
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: box-shadow 0.3s ease;
}

.cpd-post-item:hover {
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.cpd-post-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cpd-post-infocontainer {
    padding: 15px;
}

.cpd-post-title {
    font-size: 1.5em;
    margin: 0;
    padding-bottom: 10px;
    color: #333;
}

.cpd-post-excerpt {
    font-size: 1em;
    margin: 0;
    color: #666;
}

.cpd-post-author {
    font-size: 0.9em;
    color: #999;
    margin-top: 10px;
}

.cpd-no-posts {
    text-align: center;
    font-size: 1.2em;
    color: #999;
}

@media (max-width: 1024px) {
    .cpd-posts-grid {
        --columns: 3;
    }
}

@media (max-width: 768px) {
    .cpd-posts-grid {
        --columns: 2;
    }
}

@media (max-width: 320px) {
    .cpd-posts-grid {
        --columns: 1;
    }
}